body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: unset;
}

.campo-de-futebol-mobile {
  display: flex;
  position: fixed;
  align-self: center;
  width: 406px;
  height: 614px;
  background-color: #000;
  /* Cor verde para representar o gramado */
  border: 2px solid #FFF;
  max-width: 406px;
  max-height: 614px;
  background-image: url('../../assets/campinhomobile.png');
}

.jogador-vazio-mobile {
  position: absolute;
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #FFF;
  /* Cor vermelha para representar os jogadores */
  border: 1px solid #FFF;
  border-radius: 25px;
  text-align: center;
  cursor: grab;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

.jogador-preenchido-mobile {
  position: absolute;
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #FFF;
  /* Cor vermelha para representar os jogadores */
  border: 1px solid #FFF;
  border-radius: 25px;
  text-align: center;
  cursor: grab;
  align-items: center;
  color: #000;
  font-size: 16px;
  flex-direction: column;
  font-weight: bold;
}

.jogador-lista-mobile {
  width: 400px;
  height: 60px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 500;
}

.foto-jogador-lista-mobile {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding-right: 20px;
}

.foto-jogador-campo-mobile {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 0px;
  padding: 0px;
}

.nome-jogador-campo-mobile {
  width: 100px;
  height: 40px;
  background-color: #FFF;
  border-radius: 8px;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}